<ion-content>
  <ion-img src="https://maia.aaaimx.org/img/maia.eb98bf9b.png" class="logo"></ion-img>
  
  <div class="ion-text-wrap">
    <h1 class="pd"> 
    <br> Una 
    <br>plataforma 
    <br> pensada para ti</h1>
    <h2 class="pdm">Desarrollada por estudiantes para estudiantes</h2>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" class="ion-text-center" [routerLink]="['./login']">Empezar</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>