 ion-button{
     --background: #801E18;
     --background-hover: #91201a;
     width: 200px;
     font-size: 2.5vmax;
     
 }
 ion-title{
    font-family: 'Nunito', sans-serif;
 }
 
 //Login Variables
 
 .logo{
     width: 15%;
 }
 .pd{
     padding-left: 10%;
     padding-right: 10%;
     font-size: 5vmax;
 }
 .pdm{
     padding-left: 10%;
     padding-right: 10%;
     font-size: 2.5vmax;
 }
 